<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrlDocumentos</servlet-name>
        <servlet-class>controladores.CtrlDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlIndexacion</servlet-name>
        <servlet-class>controladores.CtrlIndexacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlBusqueda</servlet-name>
        <servlet-class>controladores.CtrlBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlDocumento</servlet-name>
        <servlet-class>controladores.CtrlDocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlDocumentos</servlet-name>
        <url-pattern>/documentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlIndexacion</servlet-name>
        <url-pattern>/indexacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlBusqueda</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlDocumento</servlet-name>
        <url-pattern>/documento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
